*.exe
*.pdb
*.cache
*.db
B2ConfigLauncher/[Bb]in/*
B2ConfigLauncher/[Oo]bj/*
Dragdrop/dragdrop/[Bb]in/*
Dragdrop/dragdrop/[Oo]bj/*
Eyesharp/eyesharp/[Bb]in/*
Eyesharp/eyesharp/[Oo]bj/*
Firewall/[Bb]in/*
Firewall/[Oo]bj/*
Holamundo/[Bb]in/*
Holamundo/[Oo]bj/*
Inifiles/Inifiles/[Bb]in/*
Inifiles/Inifiles/[Oo]bj/*
Launcher/[Bb]in/*
Launcher/[Oo]bj/*
Netbrowser/[Bb]in/*
Netbrowser/[Oo]bj/*
Notesharp/[Bb]in/*
Notesharp/[Oo]bj/*
Parametros/parametros/[Bb]in/*
Parametros/parametros/[Oo]bj/*
Sqlite3ex/[Bb]in/*
Sqlite3ex/[Oo]bj/*
Traducciones/traducciones/[Bb]in/*
Traducciones/traducciones/[Oo]bj/*
WoW/wow/[Bb]in/*
WoW/wow/[Oo]bj/*
